$primary: teal;
$danger: coral;

.btn {
  padding: 10px 15px;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  transition: .3s;
  border-radius: 5px;
}

.primary {
  background: $primary;

  &:hover {
    background: green;
  }
}

.danger {
  background: $danger;

  &:hover {
    background: red;
  }
}

.card {
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 5px;

  border: 1px solid rgba(0, 0, 0, 0.6);
}

.todo-input {
  border: none;
  padding: 5px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid teal;

  &::placeholder {
    color: teal;
  }

  &:focus {
    outline:none;
    border-bottom-width: 2px;
  }
}