<template>
    <div id="todo">
        <div class="form">
            <h2>Enter a task</h2>
            <div class="form-area">
                <div class="add-form" v-if="!edit">
                    <h3>Add task</h3>
                    <input type="text" v-model="task.title" placeholder="Enter a task">
                    <input type="text" v-model="task.description" placeholder="Enter a description">
                    <button v-on:click="addTask">Add</button>
                    <button v-on:click="edit=true">Edit</button>
                </div>

                <div class="edit-form" v-if="edit">
                    <h3>Edit task</h3>
                    <input type="text" v-model="task.id" placeholder="Enter a task">
                    <input type="text" v-model="task.title" placeholder="Enter a task">
                    <input type="text" v-model="task.description" placeholder="Enter a description">
                    <button v-on:click="editTask">Save</button>
                    <button v-on:click="edit=false">Cancel</button>
                </div>
            </div>
        </div>
        <div class="list">
            <h2>List of tasks</h2>
            <div class="listoftasks">
                <div class="task" v-for="(task,key) in listoftasks" :key="key">
                    <div class="task-number">{{task.id}}</div>
                    <div class="task-title">{{task.title}}</div>
                    <button v-on:click="deleteTask(task.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Todo',
        data() {
            return {
                task: {
                    id: 0, title: '', description: ''
                },
                listoftasks: [],
                edit: false
            }
        },
        methods: {
            addTask: function () {
                let i = this.listoftasks.length + 1;
                let task = this.task;
                task.id = i;
                this.listoftasks.push(task);
                this.task = {};
            },
            deleteTask:function (id) {
                this.listoftasks = this.listoftasks.filter((task) => {
                    return task.id !== id;
                });
            },
            editTask:function (){
                // console.log(this.task);
                let id = this.task.id;
                var indexOfTask= this.listoftasks.findIndex(function (tasks){
                    return tasks.id ===parseInt(id);
                });
                this.listoftasks[indexOfTask]= this.task;
                this.task={};
            }
        }
    }
</script>
<style lang="scss">
    #todo {
        display: flex;
        height: 100vh;
        width: 100%;

        .form, .list {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 50%;
            padding: 5vw;
            box-sizing: border-box;

            input {
                margin: 10px 0;
                border: 1px solid coral;
                padding: 10px;
                border-radius: 5px;
                width: 60%;
            }

            button {
                width: 60%;
                padding: 10px;
                border: none;
                border-radius: 5px;
                background: coral;
                margin: 10px;

            }
        }
    }
</style>
